<div class="row text-center">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel centered">
            <div class="panel-heading">
                <h1>{{message}}</h1>
                <h3>Welcome to Rezi!</h3>
            </div>
            <div class="panel-body">
                <form class="login-form" ng-submit="sendLogin()">
                    <input class="form-control" type="text" ng-model="username" placeholder="Username"/>
                    <input class="form-control" type="password" ng-model="password" placeholder="Password"/>
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
            <div class="panel-footer">
                <p>Dont have an account? Sign up!</p>
                <button class="btn btn-info" data-toggle="modal" data-target="#sign-up-form">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sign-up-form" ng-controller="LoginController" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Sign Up!</h3>
            </div>
            <div class="modal-body">
                <form class="login-form" ng-submit="signUp()">
                    <input class="form-control" type="text" ng-model="username" placeholder="Username"/>
                    <input class="form-control" type="password" ng-model="password" placeholder="Password"/>
                    <div class="form-group">
                        <button class="btn btn-info" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

